.da11y-divi-4 .et-pb-controllers a,
.da11y-divi-5 .et-pb-controllers a {
	box-sizing: content-box;
	margin: 0 0.25rem;
	min-height: 1.5rem;
	min-width: 1.5rem;
	padding: 0.35rem;
	background-clip: content-box;
}

.da11y-divi-4 .et-pb-controllers,
.da11y-divi-5 .et-pb-controllers {
	padding-inline: 0.25rem;
}
